---
---
<html>
	<head>
		<meta http-equiv=Content-Type content="text/html; charset=utf-8">
		<style type="text/css">
                .title-logo{
                        height: 1.2em;
                }
                .content{
                       color: #66327C;
                       margin-left:10%;
                       margin-right:10%;
                       font-size: 1.5em;
                }
                .info{
                         text-align: right;
                }
                img{
                        max-width: 100%;
                }
		</style>
		<title>{{page.title}}——Candle简报总第{{page.index}}期</title>
	</head>
	<body>
                <div class="content">
                <h1>
                <img class="title-logo" src="/images/candle.jpg"/>
                {{ page.title }}</h1>
                <p class="info"><strong>总第{{ page.index }}期<br>责任编辑: {{ page.editor }}<br>{{ page.publisher }}出品</strong></p>


                {{ content }}
                </div>
	</body>
</html>
